---
---

body {
    background-image: url(https://source.unsplash.com/yhWaINJpPTU);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 90px;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
}

.main {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    padding: 15px 15px;
    padding-top: 0;
    margin-top: 30px;
    border-radius: 5px;
    min-height: 600px;    

    h1.page-title {
        text-transform: uppercase;
        background-size: cover;
        margin: none;
        margin-left: -15px;
        margin-right: -15px;             
        color: #fafafa;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 24px;
        height: 160px;
    }
}

.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 30px;
    width: 100%;
    height: 60px;   
    background-color: rgba(255,255,255,0.9);
    background-image: url('/images/bg.png')
}

.navbar-brand {
    height: inherit;
}

.navbar-default {
    background: #fff;
    border-color: #665;
}

.vcenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flip {
    display: inline-block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
}

.img-circle {
    height: 160px;
    width: 160px;
}

/* PAGES */

.index-page {
     h1.page-title {
		 height: 480px;
    }
}

.contact-page {
    h1.page-title {
         color: #665;
         height: 200px;
    }
}