---
layout: default
heading: "Nya Perspektiv"
image_small: "/images/nya_perspektiv.jpg"
image: "/images/team_adriansson.jpg"
---

<div class="index-page">

	<h1 class="page-title" style="background-image: url('{{page.image}}')">
		<span class="perspective" 
			data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{page.heading}}">
				{{page.heading}}
		</span>
	</h1>

	<div class="card">
		<div class="body">
			<div class="summary">
				<p class="lead">
					Att ligga i framkant i en ständigt föränderlig bransch kräver ständigt nya infallsvinklar, kreativitet och innovationsförmåga.
					En bra advokat söker lösningar utanför den traditionella boxen och löser problem utan bundenhet till gamla vanor.

				</p>
				<p>
					Vi är en modern, prestigelös och kompetent advokatbyrå med bred kunskaps- och erfarenhetsbas. 
					Vårt upptagningsområde är främst Stockholms-, Upplands- och Västmanlands län men vi har klienter över hela landet. Av denna
					anledning har geografiskt fördelaktiga Knivsta, med dess närhet till Arlanda – och därmed hela Sverige – valts som bas för
					vår verksamhet. För att hålla en hög servicegrad för våra Stockholmsklienter har vi även ett mottagningskontor på Kungsgatan
					8 i Stockholm.

				</p>
				<p>Hör av dig till oss så berättar vi mer om oss och vår verksamhet.</p>
			</div>
			<img class="img-circle" src="{{page.image_small}}" alt="">
		</div>
	</div>

	{% for page in site.pages %}
		{% if page.name contains ".html" or page.name contains ".scss" %}
			{% continue %}
		{% endif %}
			{% include card.html page=page %}
	{% endfor %}

</div>