<header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row abyra-logo-row">
        <span class="mdl-layout__title">
            <img class="logo-image" src="images/adriansson_logo.png">
        </span>
    </div>
    <div class="mdl-layout__header-row abyra-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">Hem</a>
            <a class="mdl-navigation__link" href="/verksamhetsomraden">Verksamhetsområden</a>
            <a class="mdl-navigation__link" href="/radgivning">Rådgivning</a>
            <a class="mdl-navigation__link" href="">Medarbetare</a>
            <a class="mdl-navigation__link" href="">Kontakt</a>
        </nav>
    </div>
</header>

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/">Hem</a>
        <a class="mdl-navigation__link" href="/verksamhetsomraden">Verksamhetsområden</a>
        <a class="mdl-navigation__link" href="/radgivning">Rådgivning</a>
        <a class="mdl-navigation__link" href="">Medarbetare</a>
        <a class="mdl-navigation__link" href="">Kontakt</a>
    </nav>
</div>