<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container flex-container flex-row align-items--center">

            <a class="navbar-brand" href="/">
                <img src="{{ 'http://res.cloudinary.com/abyra-se/image/upload/logo.png' }}">
            </a>
            <ul class="flex-container list-unstyled flex-grow--1 justify-content--space-around nav-links">

                {% for link in site.navigation %}
                <li {% if page.url == link.url %}class="active"{% endif %}>
                    <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </nav>
</header>