<!DOCTYPE html>
<html lang="sv">

{% include head.html %}

<body>
    <div class="abyra mdl-layout mdl-js-layout mdl-layout--fixed-header">

        {% include header.html %}

        <main class="mdl-layout__content">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp max-width">

                {{ content }}

                {% include footer.html %}

            </div>
        </main>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>