---
layout: default
---

<div class="index-page">

    <h1 class="page-title" style="background-image: url('{{page.image}}')">
        <span class="flip" data-toggle="tooltip" data-placement="bottom" title="{{page.heading}}">{{page.heading}}</span>
    </h1>

    <div class="row vcenter">

        <div class="col-md-10">
            {{content}}
        </div>
        <div class="col-md-2">
            <img class="img-circle img-responsive" src="{{page.image_small}}" alt="">
        </div>
    </div>
</div>